# Local
.DS_Store
*.local
*.log*

# Dist
node_modules
dist
dist/*
storybook-static

# Profile
.rspack-profile-*/

# Env (keep template tracked)
.env
.env.development
.env.production
.env.local
.env.*.local

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
